<% if admin_signed_in? %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">新增成員</h3>
      </div>
      <div class="panel-body">
        <%= form_for @graduate, :url => graduates_path, :html => {:class => "form-horizontal", :role => 'form' } do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :year, "系級", :class => "col-md-2 control-label" %>
            <div class="col-sm-2">
              <%= f.select(:year, @years, {}, {:class => 'form-control'}) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :name, "姓名", :class => "col-md-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :name, :class => "form-control", :placeholder => "姓名" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email", :class => "col-md-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "送出", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">目前成員</h3>
      </div>
      <div class="panel-body">
        <% if not @current_graduates_years.nil? %>
          <% @current_graduates_years.each do |year| %>
            <% if not year.graduates.blank? %>
              <h4><%= year.time %> 級</h4>
              <table class="table table-bordered">
                <thead>
                  <tr><th>姓名</th><th>Email</th></tr>
                </thead>
                <tbody>
                <% year.graduates.each do |student|  %>
                  <tr><td><%= student.name %></td><td><%= student.email %> <%= link_to("刪除", destroy_graduate_path(student), :class => "btn btn-danger btn-xs", method: :delete) if admin_signed_in? %></td></tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">畢業學長姊</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-offset-5">
        <%= form_tag graduates_path, :method => 'get', :html => {:class => "form-inline", :role => 'form' } do %>
          <div class="form-group col-sm-2">
            <%= select_tag "year", options_for_select(@past_years, params[:year]), { :class => 'form-control' } %>
          </div>
          <%= submit_tag "系級查詢", :name => nil, :class => "btn btn-primary btn-small" %>
        <% end %>
      </div>

        <% if not @past_graduates.nil? %>
          <table class="table table-bordered">
            <thead>
              <tr><th>姓名</th><th>Email</th></tr>
            </thead>
            <tbody>
            <% @past_graduates.each do |student| %>
              <tr><td><%= student.name %></td><td><%= student.email %></td></tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  <div>
</div>