<div class="row">
  <div class="col-md-12">
    <% if admin_signed_in? %>
      <div class="panel panel-primary">
    <% else %>
      <div class="panel panel-default">
    <% end %>
      <div class="panel-heading">
        <h3 class="panel-title">宗旨</h3>
      </div>
      <div class="panel-body">
        <p>
        <% if admin_signed_in? %>
          <%= form_for @focus, url: focuses_path(Focus.first) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, :class => "form-control", :rows => 7 %>
            </div>
            <div class="form-group">
              <%= f.submit "更改", :class => "btn btn-primary" %>
            </div>
          <% end %>
        <% else %>
          <%= @focus.content %>
        <% end %>
        </p>
      </div>
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">研究方向</h3>
      </div>
      <div class="panel-body">
        <ul class="research-area">
          <li>商業智慧管理</li>
          <li>顧客關係管理</li>
          <li>資料倉儲</li>
          <li>知識管理</li>
          <li>服務科學</li>
          <li>電子商務應用</li>
          <li>行動商務應用</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">新增設備資料</h3>
      </div>
      <div class="panel-body">
        <%= form_for @equipment, :url => equipments_path, :html => {:class => "form-horizontal", :role => 'form' } do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :title, "名稱", :class => "col-md-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :title, :class => "form-control", :placeholder => "名稱" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :amount, "數量", :class => "col-md-2 control-label" %>
            <div class="col-sm-8">
              <%= f.number_field :amount, :class => "form-control", :placeholder => "數量" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "送出", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">設備</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <% @equipments.each do |e| %>
                <td><%= e.title %></td>
              <% end %>
            </tr>
            <tr>
              <% @equipments.each do |e| %>
                <td><%= e.amount %> 台</td>
              <% end %>
            </tr>
            <tr>
              <% @equipments.each do |e| %>
                <td><%= link_to("刪除", destroy_equipment_path(e), :class => "btn btn-danger btn-sm", method: :delete) if admin_signed_in? %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>